<% open('ngrok.log') do |f| %>
  <% f.lines.select { |line| line.include?("URL:") }.each do |line| %>
	<center>
		Server available<br />
		<%= line.match(/tcp:\/\/(.+:[0-9]+) /)[1] %><br />
	</center>
  <% end %>
<% end %>
